.col-md-10 h1 {
    text-align: center;
    margin-top: 70px;
}

#source {
    width: 100%;
    margin-top: 50px;
}

#post {
    float: right;
}

.quill-toolbar {
    margin-top: 50px;
}

.post {
    text-align: center;
    border: 2px solid grey;
    margin: 10px;
}